@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  background: none !important;

}
.MuiPagination-root  ul li button{
     border: 1px solid gray;
     color: blueviolet !important;

  }
  .MuiPagination-root  ul li{
    color:black;
  }